:root {
  --border: 5px solid;
}

.gradient-border {
  border: 5px solid;
  border-image: linear-gradient(
      to left bottom,
      #f598a8,
      #f6edb2,
      #aea4e3,
      #d3ffe8
    )
    1;
}

body {
  background: #fff5ec;
  color: #9b4b63;
  background-attachment: fixed;
}

.hero {
  padding: 140px 0;
}

.hero-subtitle {
  text-align: left;
  font-family: "Poppins", sans-serif;
}

.hero- {
  margin: 0 auto;
  background: #ead2df;
}

.hero-content {
  width: 70%;
  padding-left: 40px;
  margin: 100px auto;
}

/* .parallax {
  position: sticky;
  top: 0%;
  z-index: -1;
} */

.main-pic {
  max-width: 100%;
}

.skill-row {
  max-width: 670px;
  margin: 80px auto;
}

.skill-icons img {
  width: 60px;
  margin: 20px auto;
}

.projects img {
  padding: 20px 20px;
}

.about-me {
  /* background: #d8b2e1; */
  width: 100%;
  padding: 100px 0;
  color: #303841;
}

.about-content {
  max-width: 1000px;
  margin: 10px auto;
}

.about-description p {
  font-size: 14pt;
  line-height: 1.6;
  padding: 20px;
  max-width: 100%;
  margin: 0 auto;
}

.about-me img {
  margin: 10px auto;
  padding: 10px;
  width: 300px;
}

.skills {
  padding: 100px 0;
  margin: 0;
  /* background: #2c3e4e; */
}

.project-cards {
  width: 60%;
  margin: 30px auto;
}

.card {
  width: 300px;
  padding: 5px;
  /* margin: 0 auto; */
  margin: 30px 10px;
}

.card-deck {
  margin: 30px auto;
  max-width: 1000px;
  /* padding: 20px; */
}

.second {
  background: #cba8da;
  color: #f5e2e4;
}

.project-header {
  margin-top: 50px;
}

@media (min-width: 800px) {
  h1 {
    font-size: 34pt;
    padding: 18px 0;
    font-weight: 600;
  }

  h2 {
    font-size: 20pt;
  }

  .hero h4 {
    font-size: 16pt;
    font-weight: 300;
  }

  .hero {
    padding: 80px 0;
  }

  .hero_ {
    display: flex;
    flex-direction: row;
  }

  .main-pic {
    padding-right: 100px;
  }
}

@media (min-width: 1200px) {
  h1 {
    font-size: 40pt;
    padding: 18px 0;
    font-weight: 600;
  }

  h2 {
    font-size: 28pt;
  }

  .hero h4 {
    font-size: 18pt;
    font-weight: 300;
  }

  .main-pic {
    padding-right: 200px;
  }
}

@media (min-width: 1850px) {
  h1 {
    font-size: 48pt;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    padding: 25px 0;
  }

  h2 {
    font-size: 35pt;
    font-weight: 400;
  }

  .hero h4 {
    color: #303841;
    font-weight: 300;
    padding: 0;
    font-size: 19pt;
    line-height: 1.5;
  }
}

@media (max-width: 980px) {
  .card-deck {
    justify-content: center;
  }

  .card {
    margin: 10px;
    align-items: flex-start;
  }
}

@media (max-width: 660px) {
  h1 {
    font-size: 50pt;
  }

  .hero h2 {
    font-size: 24pt;
  }

  .hero h4 {
    font-size: 20pt;
  }

  .hero {
    padding: 100px 100px;
    width: 100%;
    margin: 0;
  }

  .main-pic {
    visibility: hidden;
    position: absolute;
  }

  .project-header {
    margin: 0;
  }

  .project-btn {
    font-size: 14pt;
    margin: 10px 0;
    padding: 8px 20px;
    flex: 1;
  }

  .card-deck {
    width: 100%;
    margin: 0;
  }

  .card {
    width: 100%;
    margin: 0 auto 30px auto;
  }

  .card-title {
    font-size: 18pt;
    font-weight: bold;
    margin: 20px 0;
  }

  .card-text {
    font-size: 14pt;
    line-height: 1.6;
  }
}

@media (max-width: 450px) {
  .card-deck {
    margin: 0;
  }

  .container {
    width: 100%;
  }

  h1 {
    font-size: 25pt;
    padding: 0;
  }

  .hero {
    padding: 50px 0;
  }

  .hero h2 {
    font-size: 18pt;
  }

  .hero h4 {
    font-size: 14pt;
    padding: 0;
  }
}
